.title {
    font-size: 2em;
    color: black;
  }
  
  .feedback-message {
    color: red;
  }
  
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
  }
  
  .team-item {
    margin: 10px ;
    padding: 10px;
    font-weight: bold;
  }
  
  .favorite-button {
    background-color: white;
    padding: 5px ;
    cursor: pointer;
  }

  .card {
    width: 20rem;
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    background-color: white;

  }